.auth-page {
  display: flex;
  flex-direction: column;

  .custom-card {
    background-color: #fafafa;
    padding: 1rem;
    > div {
      max-width: 42rem;
      margin: auto;
    }
  }

  form {
    margin-bottom: 1rem;
  }
}
