@import './_fonts.scss';
@import './_mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  font-family: gotham, sans-serif;
}
html[lang='ar'] #app {
  font-family: Cairo, Helvetica, Arial, sans-serif;
}

.custom-divider {
  border-bottom: 1px solid #cecece;
  //margin: 1rem 0;
}

//#region buttuns
.btn-auth {
  @include btn;
  @include btn-primary;
  width: 300px;
  margin-top: 1.2rem;
  border-radius: 2rem;
  // text-transform: uppercase;
  &:hover {
    box-shadow: 0px 3px 10px var(--co-primary);
  }
}
//#endregion buttuns
